<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Global_Master_Helper.Properties.Settings.NDL_DAM_SAConnectionString"
            connectionString="Data Source=DESKTOP-D1UM530;Initial Catalog=NDL_DAM_SA;User ID=sa;Password=Flologic@123"
            providerName="System.Data.SqlClient" />
        <add name="Global_Master_Helper.Properties.Settings.NDL_DAM_SAConnectionString1"
            connectionString="Data Source=DESKTOP-NVPE0V4\SQLEXPRESS;Initial Catalog=NDL_DAM_SA;User ID=sa;Password=Flologic@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>